
ul li:nth-child(2){
    color: blue;
}
#google-link :link {  
  color: blue;
}
#google-link:visited {
    color: red;

}
h1[class~=subtle] {
    background-color: green;
}
/* 
properties and 

*/